@import "variables";

.title_bg--Contact {
	@include tilt(skew(0deg, -10deg));
}
.title_name--Contact {
	@include tilt(skew(0deg, 10deg));
}
.title_underline--Contact {
	@include tilt(skew(-40deg, 10deg));
}
.Contact_text {
	width: 100vw;
	text-align: center;
	font-size: 30px;
	font-weight: lighter;
	margin: 60px auto 0 auto;
	@media screen and (max-width: 480px) {
		font-size: 25px;
	}
}
.Contact_list {
	margin: 0% auto 15% auto;
	// padding: 0 20%;
	@media screen and (max-width: 480px) {
		// height: 240px;
	}

	tr {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin: 60px auto;
		@media screen and (max-width: 480px) {
			flex-direction: column;
			margin: 0;
		}
	}
	td {
		@include img-contact(pc);
		padding: 0;
		margin: 0 46px;
		@media screen and (max-width: 480px) {
			@include img-contact(sp);
			margin-bottom: 15%;
		}
	}
	img {
		@include img-contact(pc);
		@media screen and (max-width: 480px) {
			@include img-contact(sp);
		}
	}
	p {
		font-size: 30px;
		font-weight: lighter;
		font-style: italic;
		margin-left: 5vw;
		@media screen and (max-width: 480px) {
			font-size: 20px;
		}
	}
}
