* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0 auto;
  width: 100vw;
}

a {
  color: #000000;
}

.link {
  text-decoration: none;
}

.linkHover:hover {
  opacity: 0.4;
}

section {
  position: relative;
  height: auto;
}

.title_bg {
  background-color: #ffff33;
  height: 16vh;
  margin-top: 20%;
}

.title_bg-cover--LtoR,
.title_bg-cover--RtoL {
  background-color: #fff;
  position: absolute;
  width: 100vw;
  height: 16vh;
  top: 0;
  left: 0;
}

.title_name {
  color: #000;
  position: relative;
  font-size: 90px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  top: calc(calc((15vh + 100vw * 0.176) / 2 - (100vw * 0.176 / 2)) - 54px);
  margin: 0 auto;
  opacity: 0;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .title_name {
    font-size: 80px;
    top: calc(calc((15vh + 100vw * 0.176) / 2 - (100vw * 0.176 / 2)) - 44px);
  }
}

.title_underline {
  background-color: #ff3399;
  position: relative;
  width: 300px;
  height: 10px;
  text-align: center;
  top: calc(calc((15vh + 100vw * 0.176) / 2 - (100vw * 0.176 / 2)) - 54px);
  bottom: 0;
  left: 0;
  margin: -30px auto 0 auto;
  opacity: 0;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .title_underline {
    width: 280px;
    top: calc(calc((15vh + 100vw * 0.176) / 2 - (100vw * 0.176 / 2)) - 40px);
  }
}

@-webkit-keyframes fadeInLtoR {
  100% {
    left: 100%;
  }
}

@keyframes fadeInLtoR {
  100% {
    left: 100%;
  }
}

@-webkit-keyframes fadeInRtoL {
  100% {
    left: -100%;
  }
}

@keyframes fadeInRtoL {
  100% {
    left: -100%;
  }
}

.fadeInLtoR {
  -webkit-animation: fadeInLtoR 0.5s ease-out forwards;
          animation: fadeInLtoR 0.5s ease-out forwards;
}

.fadeInRtoL {
  -webkit-animation: fadeInRtoL 0.5s ease-out forwards;
          animation: fadeInRtoL 0.5s ease-out forwards;
}

@-webkit-keyframes fadeInTitle {
  25% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.7)), color-stop(16.65%), to(rgba(255, 255, 51, 0.7)));
    -webkit-background: linear-gradient(90deg, rgba(255, 51, 153, 0.7), 16.65%, rgba(255, 255, 51, 0.7));
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.7)), color-stop(16.65%), to(rgba(255, 255, 51, 0.7)));
    background: linear-gradient(90deg, rgba(255, 51, 153, 0.7), 16.65%, rgba(255, 255, 51, 0.7));
  }
  50% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.8)), color-stop(16.65%), to(rgba(255, 255, 51, 0.8)));
    -webkit-background: linear-gradient(90deg, rgba(255, 51, 153, 0.8), 16.65%, rgba(255, 255, 51, 0.8));
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.8)), color-stop(16.65%), to(rgba(255, 255, 51, 0.8)));
    background: linear-gradient(90deg, rgba(255, 51, 153, 0.8), 16.65%, rgba(255, 255, 51, 0.8));
  }
  75% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.9)), color-stop(16.65%), to(rgba(255, 255, 51, 0.9)));
    -webkit-background: linear-gradient(90deg, rgba(255, 51, 153, 0.9), 16.65%, rgba(255, 255, 51, 0.9));
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.9)), color-stop(16.65%), to(rgba(255, 255, 51, 0.9)));
    background: linear-gradient(90deg, rgba(255, 51, 153, 0.9), 16.65%, rgba(255, 255, 51, 0.9));
  }
  100% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(#ff3399), color-stop(16.65%), to(#ffff33));
    -webkit-background: linear-gradient(90deg, #ff3399, 16.65%, #ffff33);
    background: -webkit-gradient(linear, left top, right top, from(#ff3399), color-stop(16.65%), to(#ffff33));
    background: linear-gradient(90deg, #ff3399, 16.65%, #ffff33);
  }
}

@keyframes fadeInTitle {
  25% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.7)), color-stop(16.65%), to(rgba(255, 255, 51, 0.7)));
    -webkit-background: linear-gradient(90deg, rgba(255, 51, 153, 0.7), 16.65%, rgba(255, 255, 51, 0.7));
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.7)), color-stop(16.65%), to(rgba(255, 255, 51, 0.7)));
    background: linear-gradient(90deg, rgba(255, 51, 153, 0.7), 16.65%, rgba(255, 255, 51, 0.7));
  }
  50% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.8)), color-stop(16.65%), to(rgba(255, 255, 51, 0.8)));
    -webkit-background: linear-gradient(90deg, rgba(255, 51, 153, 0.8), 16.65%, rgba(255, 255, 51, 0.8));
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.8)), color-stop(16.65%), to(rgba(255, 255, 51, 0.8)));
    background: linear-gradient(90deg, rgba(255, 51, 153, 0.8), 16.65%, rgba(255, 255, 51, 0.8));
  }
  75% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.9)), color-stop(16.65%), to(rgba(255, 255, 51, 0.9)));
    -webkit-background: linear-gradient(90deg, rgba(255, 51, 153, 0.9), 16.65%, rgba(255, 255, 51, 0.9));
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.9)), color-stop(16.65%), to(rgba(255, 255, 51, 0.9)));
    background: linear-gradient(90deg, rgba(255, 51, 153, 0.9), 16.65%, rgba(255, 255, 51, 0.9));
  }
  100% {
    -webkit-background: -webkit-gradient(linear, left top, right top, from(#ff3399), color-stop(16.65%), to(#ffff33));
    -webkit-background: linear-gradient(90deg, #ff3399, 16.65%, #ffff33);
    background: -webkit-gradient(linear, left top, right top, from(#ff3399), color-stop(16.65%), to(#ffff33));
    background: linear-gradient(90deg, #ff3399, 16.65%, #ffff33);
  }
}

@-webkit-keyframes fadeInTitleText {
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTitleText {
  100% {
    opacity: 1;
  }
}

.fadeInTitleText {
  -webkit-animation: fadeInTitleText 0.3s 0.5s forwards;
          animation: fadeInTitleText 0.3s 0.5s forwards;
}

.topTitle {
  position: fixed;
  width: 10vw;
  font-size: 18px;
  text-align: center;
  margin: 3vh 0 0 3%;
  opacity: 0;
  z-index: 99;
}

@media screen and (max-width: 480px) {
  .topTitle {
    display: none;
  }
}

.hamburger_bg-left {
  position: fixed;
  background-color: rgba(204, 204, 204, 0.7);
  width: 70vw;
  height: 100vh;
  left: -70vw;
  z-index: 300;
}

@media screen and (max-width: 480px) {
  .hamburger_bg-left {
    display: none;
  }
}

.hamburger_bg-right {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 30vw;
  height: 100vh;
  right: -30vw;
  z-index: 300;
}

@media screen and (max-width: 480px) {
  .hamburger_bg-right {
    width: 100vw;
    right: -100vw;
  }
}

.hamburgerOpen {
  display: block;
  position: fixed;
  width: 50px;
  height: 44px;
  text-align: right;
  right: 0;
  margin: 3vh 5% 0 0;
  cursor: pointer;
  z-index: 400;
  opacity: 0;
  -webkit-animation: fadeInTitleText 0.6s 1s forwards;
          animation: fadeInTitleText 0.6s 1s forwards;
}

.hamburger_line {
  display: block;
  background-color: #000;
  height: 2px;
  position: absolute;
  right: 0;
  margin-left: auto;
}

.hamburger_line-top {
  width: 100%;
  top: 0;
}

.hamburger_line-middle {
  width: 100%;
  top: 40%;
}

.hamburger_line-bottom {
  width: 100%;
  top: 80%;
}

.hamburger_list {
  display: none;
  width: 20vw;
  height: 100vh;
  position: fixed;
  font-size: 4vw;
  right: 0;
  margin: 3% 10% 0 0;
  opacity: 0;
  z-index: 400;
}

@media screen and (max-width: 480px) {
  .hamburger_list {
    width: 80vw;
    font-size: 10vw;
  }
}

.hamburger_list ul {
  position: fixed;
  width: 20vw;
  height: 100vh;
  top: 0;
  margin: 3% 10% 0 1%;
  padding: 0;
}

.hamburger_list li {
  position: fixed;
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

.hamburger_list--works {
  bottom: 76%;
}

.hamburger_list--about {
  bottom: 56%;
}

.hamburger_list--contact {
  bottom: 36%;
}

.hamburgerCloseBtn {
  display: none;
  position: fixed;
  font-size: 350%;
  font-weight: lighter;
  top: 2vh;
  right: 5%;
  opacity: 0;
  cursor: pointer;
  z-index: 400;
}

#Top {
  height: 100vh;
}

.Top_wrap {
  position: absolute;
  width: auto;
  height: 20vh;
  text-align: center;
  top: calc(50vh - calc((20vh + 100vw * 0.176) / 2 - (100vw * 0.176 / 2)));
  left: 0;
  right: 0;
  color: #000;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  -webkit-animation: fadeInTitle 1s 1.2s forwards;
          animation: fadeInTitle 1s 1.2s forwards;
}

.Top_wrap img {
  position: absolute;
  width: 100vw;
  height: 20vh;
  left: 0;
  right: 0;
}

.TopCover {
  all: initial;
  background-color: #fff;
  position: absolute;
  width: 100vw;
  height: 20vh;
  top: 0;
  left: 0;
  -webkit-animation: fadeInLtoR 0.8s 0.2s ease-out forwards;
          animation: fadeInLtoR 0.8s 0.2s ease-out forwards;
}

.Top_name {
  display: inline-block;
  position: absolute;
  font-size: 70px;
  font-weight: normal;
  top: calc(calc((20vh + 100vw * 0.176) / 2 - (100vw * 0.176 / 2)) - 42px);
  left: 0;
  right: 0;
  margin: 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  opacity: 0;
  -webkit-animation: fadeInTitleText 1s 1.2s forwards;
          animation: fadeInTitleText 1s 1.2s forwards;
}

@media screen and (max-width: 480px) {
  .Top_name {
    font-size: 35px;
  }
}

.Top_portfolio {
  display: inline-block;
  position: absolute;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 1px;
  top: calc(calc((20vh + 100vw * 0.176) / 2 - (100vw * 0.176 / 2)) - 35.5px + 42.5px);
  left: 0;
  right: 0;
  margin: 0 0 0 40%;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  opacity: 0;
  -webkit-animation: fadeInTitleText 1s 1.2s forwards;
          animation: fadeInTitleText 1s 1.2s forwards;
}

@media screen and (max-width: 480px) {
  .Top_portfolio {
    font-size: 30px;
  }
}

.title_bg--Works {
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}

.title_name--Works {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}

.title_underline--Works {
  -webkit-transform: skew(-40deg, 10deg);
  transform: skew(-40deg, 10deg);
}

.Works_category {
  height: auto;
  margin-top: 5%;
}

.Works_category ul {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.Works_category li {
  display: inline;
  font-size: 30px;
  font-weight: normal;
  margin: 0 2%;
}

@media screen and (max-width: 480px) {
  .Works_category li {
    margin: 0 20%;
  }
}

.Works_work {
  margin-top: 60px;
}

@media screen and (max-width: 480px) {
  .Works_work {
    margin-top: 30px;
  }
}

.Works_work ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
}

.Works_work li {
  width: 330px;
  height: 234px;
  list-style: none;
  margin: 20px 20px;
}

@media screen and (max-width: 480px) {
  .Works_work li {
    width: 300px;
    height: 213px;
    margin: 20px 10px 150px 10px;
  }
}

.Works_work_tmb {
  position: relative;
  width: 330px;
  height: 234px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .Works_work_tmb {
    width: 300px;
    height: 213px;
  }
}

.Works_work_tmb img {
  position: relative;
  width: 330px;
  height: 234px;
}

@media screen and (max-width: 480px) {
  .Works_work_tmb img {
    width: 300px;
    height: 213px;
  }
}

.Works_work_tmb a {
  position: absolute;
  width: 330px;
  height: 234px;
  top: 0;
  left: 0;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  .Works_work_tmb a {
    width: 300px;
    height: 213px;
  }
}

.Works_work_tmb_mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 330px;
  height: 234px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .Works_work_tmb_mask {
    width: 300px;
    height: 213px;
    height: 130px;
    top: 213px;
    opacity: 1;
  }
}

.Works_work_tmb_mask figcaption {
  color: #ffffff;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .Works_work_tmb_mask figcaption {
    padding-left: 10px;
  }
}

.Works_work_tmb_mask h4 {
  font-size: 180%;
  font-weight: normal;
}

@media screen and (max-width: 480px) {
  .Works_work_tmb_mask h4 {
    margin: 10px 0 0 0;
  }
}

.Works_work_tmb_mask h5 {
  font-size: 130%;
  font-weight: lighter;
}

@media screen and (max-width: 480px) {
  .Works_work_tmb_mask h5 {
    margin: 10px 0 0 0;
  }
}

.choice:hover .Works_work_tmb_mask {
  opacity: 1;
}

.title_bg--About {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}

.title_name--About {
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}

.title_underline--About {
  -webkit-transform: skew(-40deg, -10deg);
  transform: skew(-40deg, -10deg);
}

.About_profile {
  width: 100vw;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin: 60px auto 0 auto;
}

.About_profile_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 732px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px auto 0 auto;
}

.About_profile_wrap img {
  width: 366px;
  height: 520px;
}

@media screen and (max-width: 480px) {
  .About_profile_wrap img {
    width: 300px;
    height: 426px;
  }
}

.About_profile_detail {
  width: 366px;
  height: 520px;
  text-align: center;
  font-weight: normal;
}

.About_profile_detail_name {
  font-size: 30px;
  margin: 30px auto;
}

.About_profile_detail_info {
  font-size: 18px;
  line-height: 300%;
  margin: 0;
}

.About_skills_wrap {
  margin-top: 60px;
}

@media screen and (max-width: 480px) {
  .About_skills_wrap {
    margin-top: 0;
  }
}

.About_skills_wrap h3 {
  width: 100vw;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin: 0 auto;
}

.About_skills_list {
  max-width: 920px;
  margin: 60px auto 0 auto;
}

.About_skills_list img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 959px) {
  .About_skills_list img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .About_skills_list img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

.About_skills_list tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.About_skills_list td {
  width: 200px;
  height: 200px;
  padding: 0;
}

@media screen and (max-width: 959px) {
  .About_skills_list td {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .About_skills_list td {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

.skill_image-main {
  position: absolute;
}

.skill_image-slide {
  position: absolute;
  width: 200px;
  height: 200px;
}

.title_bg--Contact {
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}

.title_name--Contact {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}

.title_underline--Contact {
  -webkit-transform: skew(-40deg, 10deg);
  transform: skew(-40deg, 10deg);
}

.Contact_text {
  width: 100vw;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  margin: 60px auto 0 auto;
}

@media screen and (max-width: 480px) {
  .Contact_text {
    font-size: 25px;
  }
}

.Contact_list {
  margin: 0% auto 15% auto;
}

.Contact_list tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 60px auto;
}

@media screen and (max-width: 480px) {
  .Contact_list tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.Contact_list td {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0 46px;
}

@media screen and (max-width: 480px) {
  .Contact_list td {
    width: 80px;
    height: 80px;
    margin-bottom: 15%;
  }
}

.Contact_list img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 480px) {
  .Contact_list img {
    width: 80px;
    height: 80px;
  }
}

.Contact_list p {
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
  margin-left: 5vw;
}

@media screen and (max-width: 480px) {
  .Contact_list p {
    font-size: 20px;
  }
}

.footer {
  -webkit-background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.6)), color-stop(16.65%), to(rgba(255, 255, 51, 0.6)));
  -webkit-background: linear-gradient(90deg, rgba(255, 51, 153, 0.6), 16.65%, rgba(255, 255, 51, 0.6));
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 153, 0.6)), color-stop(16.65%), to(rgba(255, 255, 51, 0.6)));
  background: linear-gradient(90deg, rgba(255, 51, 153, 0.6), 16.65%, rgba(255, 255, 51, 0.6));
  width: auto;
  height: 3vh;
}

.footer p {
  text-align: center;
  font-size: 18px;
  line-height: 3vh;
}

@media screen and (max-width: 480px) {
  .footer p {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */